= form_for(@compra) do |f|
  - if @compra.errors.any?
    #error_explanation
      %h2
        = pluralize(@compra.errors.count, "error")
        prohibited this compra from being saved:
      %ul
        - @compra.errors.full_messages.each do |message|
          %li= message
  .field
    = f.label :cliente_nome
    %br
      = f.text_field :cliente_nome
  .field
    = f.label :vendedor_id
    %br
      = f.text_field :vendedor_id
  .actions
    = f.submit "#{t("botao.salvar")}", class: "btn btn-primary"
