%p#notice= notice
%h1
  = t(".titulo")
.row
  .col-md-6.col-md-offset-3
    %table.table.table-bordered
      %thead
        %tr
          %th
            = Compra.human_attribute_name(:cliente_nome)
          %th
            = Compra.human_attribute_name(:vendedor_id)
          %th
            = t("mensagem.data_compra")
          %th
            = t("compras.quant_produtos")
          %th{:colspan => "3"}
      %tbody
        - @compras.each do |compra|
          %tr
            %td= compra.cliente_nome
            %td= compra.vendedor_id
            %td= compra.created_at.strftime("%d %b. %Y")
            %td= compra.produtos.count
            %td= link_to t("link.ver"), compra
            %td= link_to t("link.editar"), edit_compra_path(compra)
            %td= link_to t("link.deletar"), compra, method: :delete, data: { confirm: "#{t("confirmar")}" }
    %br
      = button_to t("botao.nova_compra"), new_compra_path, class: "btn btn-primary", method: :get
