%p#notice= notice
.row
  .col-md-6.col-md-offset-3
    %p
      %strong
        = Compra.human_attribute_name(:cliente_nome)
      = @compra.cliente_nome
    %p
      %strong
        = Compra.human_attribute_name(:vendedor_id)
      = @compra.vendedor_id
    %p
      %strong
        = t("mensagem.data_compra")
    %p
      %strong
        = t("compras.quant_produtos")
      = @compra.produtos.count
    = button_to t("botao.editar"), edit_compra_path(@compra), class: "btn btn-primary", method: :get
    = button_to t("botao.voltar"), compras_path, class: "btn btn-default", method: :get
