= form_for(@produto) do |f|
  - if @produto.errors.any?
    #error_explanation
      %h2
        = pluralize(@produto.errors.count, "error")
        prohibited this produto from being saved:
      %ul
        - @produto.errors.full_messages.each do |message|
          %li= message
  .field
    = f.label :descricao
    %br
      = f.text_field :descricao
  .field
    = f.label :valor
    %br
      = f.text_field :valor
  .field
    = f.label :categoria
    %br
      = f.number_field :categoria
  .actions
    = f.submit "#{t("botao.salvar")}", class: "btn btn-primary"
