%p#notice= notice
%h1
  = t(".titulo")
.row
  .col-md-6.col-md-offset-3
    %table.table.table-bordered
      %thead
        %tr
          %th
            = Produto.human_attribute_name(:descricao)
          %th
            = Produto.human_attribute_name(:valor)
          %th
            = Produto.human_attribute_name(:categoria)
          %th{:colspan => "3"}
      %tbody
        - @produtos.each do |produto|
          %tr
            %td= produto.descricao
            %td= number_with_precision(produto.valor, :precision => 2)
            %td= produto.categoria
            %td= link_to t("link.ver"), produto
            %td= link_to t("link.editar"), edit_produto_path(produto)
            %td= link_to t("link.deletar"), produto, method: :delete, data: { confirm: "#{t("confirmar")}" }
    %br
      = button_to t("botao.novo_produto"), new_produto_path, class: "btn btn-primary", method: :get
