%p#notice= notice
.row
  .col-md-6.col-md-offset-3
    %p
      %strong
        = Produto.human_attribute_name(:descricao)
      = @produto.descricao
    %p
      %strong
        = Produto.human_attribute_name(:valor)
      = number_with_precision(@produto.valor, :precision => 2)
    %p
      %strong
        = Produto.human_attribute_name(:categoria)
      = @produto.categoria
    = button_to t("botao.editar"), edit_produto_path(@produto), class: "btn btn-primary", method: :get
    = button_to t("botao.voltar"), produtos_path, class: "btn btn-default", method: :get
