= form_for(@vendedor) do |f|
  - if @vendedor.errors.any?
    #error_explanation
      %h2
        = pluralize(@vendedor.errors.count, "error")
        prohibited this vendedor from being saved:
      %ul
        - @vendedor.errors.full_messages.each do |message|
          %li= message
  .field
    = f.label :nome
    %br
      = f.text_field :nome
  .field
    = f.label :matricula
    %br
      = f.number_field :matricula
  .actions
    = f.submit "#{t("botao.salvar")}", class: "btn btn-primary"