%h1
  = t(".titulo")
.row
  .col-md-6.col-md-offset-3
    = render 'form'
    = button_to t("botao.ver"), @vendedor, class: "btn btn-default", method: :get
    = button_to t("botao.voltar"), vendedores_path, class: "btn btn-default", method: :get

