%p#notice= notice
%h1
  = t(".titulo")
.row
  .col-md-6.col-md-offset-3
    %table.table.table-bordered
      %thead
        %tr
          %th
            = Vendedor.human_attribute_name(:nome)
          %th
            = Vendedor.human_attribute_name(:matricula)
          %th{:colspan => "3"}
      %tbody
        - @vendedores.each do |vendedor|
          %tr
            %td= vendedor.nome
            %td= vendedor.matricula
            %td= link_to t("link.ver"), vendedor
            %td= link_to t("link.editar"), edit_vendedor_path(vendedor)
            %td= link_to t("link.deletar"), vendedor, method: :delete, data: { confirm: "#{t("confirmar")}" }
    %br
      = button_to t("botao.novo_vendedor"), new_vendedor_path, class: "btn btn-primary", method: :get