%p#notice= notice
.row
  .col-md-6.col-md-offset-3
    %p
      %strong
        = Vendedor.human_attribute_name(:nome)
      = @vendedor.nome
    %p
      %strong
        = Vendedor.human_attribute_name(:matricula)
      = @vendedor.matricula
    = button_to t("botao.editar"), edit_vendedor_path(@vendedor), class: "btn btn-primary", method: :get
    = button_to t("botao.voltar"), vendedores_path, class: "btn btn-default", method: :get