%footer.footer
  %small
    © Shop FFIT 2015 by
    %a{:href => "https://github.com/felipedaraujo"} Felipe de Araújo
  %nav
    %ul
      %li= link_to_unless_current t(".lingua.portugues"), locale: "pt-BR"
      %li= link_to_unless_current t(".lingua.ingles"), locale: "en"
