%header.navbar.navbar-fixed-top.navbar-default
  .container
    .navbar-header
      %button.navbar-toggle.collapsed{"aria-expanded" => "false", "data-target" => "#navbar-collapse", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      = link_to "Shop FFIT", root_path, id: 'logo'
    #navbar-collapse.collapse.navbar-collapse
      %ul.nav.navbar-nav.navbar-right
        %li= link_to "Home",                root_path
        %li= link_to t(".menu.compras"),    compras_path
        %li= link_to t(".menu.produtos"),   produtos_path
        %li= link_to t(".menu.vendedores"), vendedores_path
